blinker==1.4
docx2txt==0.8
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1651670959703/work
Flask-Cors @ file:///home/conda/feedstock_root/build_artifacts/flask_cors_1609901734655/work
keras==2.9.0
libclang==14.0.1
munkres==1.1.4
pandas==1.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome @ file:///Users/runner/miniforge3/conda-bld/pycryptodome_1649417632913/work
pydantic @ file:///Users/runner/miniforge3/conda-bld/pydantic_1636021581021/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1652398519695/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1649013428463/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857351433/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pyzmq @ file:///Users/ktietz/ci_310/pyzmq_1643964387809/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1650839970839/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1652976896356/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1653074036673/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1612179560728/work
six==1.15.0
sklearn==0.0
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_1630238320325/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
spacy @ file:///Users/runner/miniforge3/conda-bld/spacy_1651591293285/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1645713043381/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1648794027183/work

termcolor==1.1.0
webencodings==0.5.1
