<!DOCTYPE html>
<html>
  <head>
    <head>
  <body>
 <h1>Hello</h1>
 <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings = 
            {"appId":"3660bb56cadbb0a4cbd312baa880e45a6","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
  </script>
  </body>
</html>