<!DOCTYPE html>
<html>
<head>
    <title>Resume Parser</title>
</head>
<body>

<h1 style="text-align:center;"><b>PLEASE FOLLOW ALONG WITH THE CHATBOT</b></h1>
<hr>
<input type="file" id="file_input"/>
<p id="status">Please select a CSV file with company names if u want your own top companies</p>
<!--open flask route on button click-->
<button type="button" onclick="window.location.href='{{ url_for( 'company_list') }}';">submit</button>
<h1>{{result}}</h1>
<hr>
<input type="file" id="file_input2" multiple="multiple"/>
<p id="status">Please upload resume files</p>
<p><span id="kuch_bhi">0</span> files uploaded</p>
<button type="button" onclick="window.location.href='{{ url_for( 'resume_list') }}';">submit</button>
<!--button to reload page to make sure chatbot works-->
<button type="download" onclick="goBack()">refresh</button>
<hr>
<input type="file" id="file_input3" multiple="multiple"/>
<p id="status">Please upload selected resumes</p>
<p><span id="kuch_bhi2">0</span> files uploaded</p>
<button type="button" onclick="window.location.href='{{ url_for( 'selected_resume') }}';">submit</button>
<h1>{{result2}}</h1>
<hr>
<input type="file" id="file_input4" multiple="multiple"/>
<p id="status">Please upload rejected resumes</p>
<p><span id="kuch_bhi3">0</span> files uploaded</p>
<!--buttons for fast as well as slow ML model-->
<button type="button" onclick="window.location.href='{{ url_for( 'rejected_resume') }}';">Fast Model</button><span>(Approx 30s for 50 resumes)</span>
<button type="button" onclick="window.location.href='{{ url_for( 'small_check') }}';">Deep Model</button><span>(Approx 120s for 50 resumes)</span>
<h1>{{result3}}</h1>
<hr>
<input type="file" id="file_input5" multiple="multiple"/>
<p id="status">Please upload resumes to be tested on model</p>
<p><span id="kuch_bhi4">0</span> files uploaded</p>
<button type="button" onclick="window.location.href='{{ url_for( 'test_resumes') }}';">submit</button>
<h1>{{result4}}</h1>

<script type="text/javascript">

    function goBack() {
        window.location.reload()
        }

 <!--functions to update files uploaded by S3-->
    function fun(x)
    {
    document.getElementById("kuch_bhi").innerHTML=x
    }
    function fun2(x)
    {
     document.getElementById("kuch_bhi2").innerHTML=x
    }
    function fun3(x)
    {
     document.getElementById("kuch_bhi3").innerHTML=x
    }
    function fun4(x)
    {
     document.getElementById("kuch_bhi4").innerHTML=x
    }

    <!--function to use dialogflow chatbot which is integrated with Kommunicate-->
    (function(d, m){
        var kommunicateSettings =
            {"appId":"3660bb56cadbb0a4cbd312baa880e45a6","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});

<!--Function works when files are uploaded and sends the files to another function to get SignedRequest for uploading files to S3 bucket-->
   (function() {
  document.getElementById("file_input").onchange = function(){
    var files = document.getElementById("file_input").files;
    var file = files[0];
    if(!file){
      return alert("No file selected.");
    }
    getSignedRequest(file);
  };
})();

(function() {
  document.getElementById("file_input2").onchange = function(){
    var files = document.getElementById("file_input2").files;
    for (let i = 0; i <files.length; i++)
    {
        var file=files[i];
        getSignedRequest(file);
    }
  };
})();

(function() {
  document.getElementById("file_input3").onchange = function(){
    var files = document.getElementById("file_input3").files;
    for (let i = 0; i <files.length; i++)
    {
        var file=files[i];
        getSignedRequest2(file);
    }
  };
})();

(function() {
  document.getElementById("file_input4").onchange = function(){
    var files = document.getElementById("file_input4").files;
    for (let i = 0; i <files.length; i++)
    {
        var file=files[i];
        getSignedRequest3(file);
    }
  };
})();

(function() {
  document.getElementById("file_input5").onchange = function(){
    var files = document.getElementById("file_input5").files;
    for (let i = 0; i <files.length; i++)
    {
        var file=files[i];
        getSignedRequest4(file);
    }
    getSignedRequest(file);
  };
})();

<!-- get signed request by sending files to sign-s3 route -->
function getSignedRequest(file){
   const xhr = new XMLHttpRequest();
      <!--opens /sign-s3 route and also sends file name and type in parameters-->
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            //extract keys from JSON using parse
            const response = JSON.parse(xhr.responseText);
            // count of files uploaded to S3
            fun(response.count)
            uploadFile(file, response.data, response.url);
          }
          else{
           alert('Could not upload files, please upload files again, Please wait for some time after uploading files and then click on submit');
          }
        }
      };
      xhr.send();
    }

function getSignedRequest2(file){
   const xhr = new XMLHttpRequest();
      //opens /sign-s3 route and also sends file name and type in parameters
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            //extract keys from JSON using parse
            const response = JSON.parse(xhr.responseText);
            console.log(response.count)
            fun2(response.count)
            uploadFile(file, response.data, response.url);
          }
          else{
           alert('Could not upload files, please upload files again, Please wait for some time after uploading files and then click on submit');
          }
        }
      };
      xhr.send();
    }
<!-- different signed request functions for different parts of flask application-->
function getSignedRequest3(file){
   const xhr = new XMLHttpRequest();
      //opens /sign-s3 route and also sends file name and type in parameters
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            //extract keys from JSON using parse
            const response = JSON.parse(xhr.responseText);
            console.log(response.count)
            fun3(response.count)
            uploadFile(file, response.data, response.url);
          }
          else{
           alert('Could not upload files, please upload files again, Please wait for some time after uploading files and then click on submit');
          }
        }
      };
      xhr.send();
    }

function getSignedRequest4(file){
   const xhr = new XMLHttpRequest();
      //opens /sign-s3 route and also sends file name and type in parameters
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            //extract keys from JSON using parse
            const response = JSON.parse(xhr.responseText);
            console.log(response.count)
            fun4(response.count)
            uploadFile(file, response.data, response.url);
          }
          else{
           alert('Could not upload files, please upload files again, Please wait for some time after uploading files and then click on submit');
          }
      }
            };
      xhr.send();
    }

function uploadFile(file, s3Data, url){
  var xhr = new XMLHttpRequest();
  // Post request to S3 bucket URL
  xhr.open("POST", s3Data.url);
  var postData = new FormData();
  for(key in s3Data.fields){
    postData.append(key, s3Data.fields[key]);
  }
  postData.append('file', file);
 // uploaded file to S3 bucket
  xhr.send(postData);
}
</script>


</body>



